.nav-collapse
  %ul.nav.pull-right
    %li.dropdown.user-avatar
      .btn-group
        = link_to '#', {class: 'btn btn-info dropdown-toggle', data: {toggle: 'dropdown'}} do
          = content_tag(:span, raw(content_tag(:i, '', class: 'icon-user') + current_admin_user.email))
        %ul.dropdown-menu
          %li= link_to 'Dashboard', admin_dashboard_path
          %li= link_to 'Все посты', admin_posts_path
          %li= link_to 'Sidekiq Web', sidekiq_web_path, {target: '_blank'}
          %li= link_to 'Выйти', destroy_admin_user_session_path, method: :delete