%ul
	- parent_comment.children.each do |p_comment_child|
		%li
			= p_comment_child.body
			= link_to 'delete', delete_comment_path(p_comment_child), method: :delete, confirm: 'Are you shure?', class: 'delete_comment', remote: true if admin_user_signed_in?
			%br
			= link_to 'replay comment', '#', class: 'replay_comments'
			.replay_form
				= render 'includes/comments/form_comments', f_action: p_comment_child.id
			- if p_comment_child.has_children?
				= render 'includes/comments/child_comment', parent_comment: p_comment_child