= form_for [:admin, @post], :html => { :class => 'form-horizontal' } do |f|
  -if @post.errors.any?
    .alert.alert-error
      %h3
        =pluralize(@post.errors.count, 'error') 
      %ul
        -@post.errors.full_messages.each do |e|
          %li 
            =e
  .control-group
    = f.label :title, :class => 'control-label'
    .controls
      = f.text_field :title, :class => 'text_field'
  .control-group
    = f.label :category_id, 'Категория', {class: 'control-label'}
    .controls
      = f.select :category_id, options_for_select(Category.all.map{|c| [c.name, c.id]}, @post.category_id)
  .control-group
    = f.label :moderation, 'Модерация', {class: 'control-label'}
    .controls
      = f.select :moderation, options_for_select([['На рассмотрении', 0], ['Отклонено', 1], ['Одобрено', 2]], @post.moderation)
  .control-group
    = f.label :intro, :class => 'control-label'
    .controls
      = f.text_area :intro, :class => 'text_area redactor'
  .control-group
    = f.label :full, :class => 'control-label'
    .controls
      = f.text_area :full, :class => 'text_area redactor'
  .control-group
    = f.label :tag_list, "Tags (separated by commas)"
    .controls
      = f.text_field :tag_list
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), admin_posts_path, :class => 'btn'
