%h2 Авторизация
= form_for(resource, :as => resource_name, :url => session_path(resource_name), html: {class: 'form-inline'}) do |f| 
  = devise_error_messages!
  .control-group
    .controls
      .input-prepend
        %span.add-on.hasTooltip{data: {rel: 'tooltip', title: 'Enter you e-mail'}}
          %i.icon-user
        = f.email_field :email, {:autofocus => true, placeholder: 'user e-mail'}
  .control-group
    .controls
      .input-prepend
        %span.add-on.hasTooltip{data: {rel: 'tooltip', title: 'Enter you password'}}
          %i.icon-lock
        = f.password_field :password
  .control-group
    .controls
      - if devise_mapping.rememberable?
        %label.checkbox
          = f.check_box :remember_me
          Запомнить меня
  .control-group
    .controls
      .btn-group.pull-left
      = f.submit "Авторизоваться", class: 'btn btn-primary btn-large'

  = render "devise/shared/links"
