- model_class = Post
.page-header
  %h3= @post.title
.well
  = raw @post.full
%p
  Tags: 
  = raw @post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ')
- if @post.user == current_user || !current_admin_user.nil?
  .form-actions
    = link_to t('.back', :default => t("helpers.links.back")), posts_path, :class => 'btn'
    = link_to t('.edit', :default => t("helpers.links.edit")), edit_post_path(@post), :class => 'btn'
    = link_to t('.destroy', :default => t("helpers.links.destroy")), post_path(@post), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
